<div id="<%= dom_id tweet %>">
  <p>
    <strong>Handle:</strong>
    <%= link_to "@" + tweet.handle, User.find(tweet.handle) %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <strong>Num likes:</strong>
    <%= tweet.num_likes %>
  </p>

  <p>
    <strong>Num retweets:</strong>
    <%= tweet.num_retweets %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= tweet.created_at %>
  </p>

  <%= link_to "Like this tweet", "/likes/new?tweet_id=#{tweet.tweet_id}" %>
</div>
