<div id="<%= dom_id tweet %>">
  <p>
    <strong>Handle:</strong>
    @<%= tweet.handle %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <strong>Num likes:</strong>
    <%= tweet.num_likes %>
  </p>

  <p>
    <strong>Num retweets:</strong>
    <%= tweet.num_retweets %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= tweet.created_at %>
  </p>
</div>
