<div id="<%= dom_id user %>">
  <p>
    <strong>Screen name:</strong>
    <%= user.screen_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Num followers:</strong>
    <%= user.num_followers %>
  </p>

  <p>
    <strong>Num following:</strong>
    <%= user.num_following %>
  </p>

  <p>
    <strong>Num tweets:</strong>
    <%= user.num_tweets %>
  </p>

</div>
